*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content{
    border: 5px, green sloid;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;

}

h2{
    color: rgb(1, 1, 51);
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input{
    border:none;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}


button{ 
    border:1px green solid;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}

select{
    border:1px green solid;
    outline:none;
    display:inline-block;
    height:34px;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
}

.answer{
    background-color: rgb(201, 245, 100);
    outline:none;
    display:inline-block;
    align-items: center;
    vertical-align:middle;
    position:relative;
    bottom:14px;
    right:9px;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    padding:0 18px; 
    font-size: 20px;
}
